/*body{
	font-family: Helvetica;
	text-align: center;
}

h2{

}

#table {
width: 498px;
background: rgb(219, 219, 230);
margin: 0 auto;
padding: 45px;
text-align: left;
}

td {
margin-right: 24px;
padding: 7px;
}

#commenter{
	color:white;
	background: gray;
}*/

body{
background-image:url('crossword.png');
background-size:cover;
}

h1, h2, p{
	text-align:center;
}

h3 p{
	display: inline;
}

#container {
width: 700px;
height: 600px;
margin: auto;
font-family: 'Fredericka the Great', cursive;
background-color: white;
}

#container > h1 {
padding-top: 25px;
margin: 0;
}

#table {
margin-top: 60px;
margin-left: 35px;
margin-right: 30px;
text-align: center;
}

#post-links p{
	display:inline;
}

#title {
width: 325px;
margin: auto;
border-bottom: 1px solid gray;
margin-top: 40px;
}

#title *{
	display: inline;
}




